# =============== #
# Unity Project #
# =============== #
# Ignora estas carpetas en CUALQUIER subcarpeta dentro de /unity/
unity/**/[Ll]ibrary/
unity/**/[Tt]emp/
unity/**/[Oo]bj/
unity/**/[Bb]uild/
unity/**/[Bb]uilds/
unity/**/[Ll]ogs/
unity/**/[Uu]ser[Ss]ettings/

# Ignora estos archivos en CUALQUIER subcarpeta dentro de /unity/
unity/**/*.sln
unity/**/*.csproj
unity/**/*.userprefs
unity/**/Assets/Plugins/Editor/JetBrains*

# =============== #
# Python / Colab #
# =============== #
python/__pycache__/
python/*.pyc
python/.venv/
python/.ipynb_checkpoints/

# =============== #
# OS Files #
# =============== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db